<ion-view title="Users">
    <div class="list card" ng-repeat="x in stack">

        <div class="item">
            <h2>{{x.title}}</h2>
        </div>

        <div class="item item-body">
            <img class="full-image" ng-src="{{x.urlToImage}}">
            <p>
                {{x.description}}
            </p>
            <p>
                <a href="#" class="subdued">{{x.publishedAt}}</a>
            </p>
        </div>

    </div>

    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>

    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>

    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>

    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>
    <p>dfdsdkbkbfkbfgbkjb</p>
</ion-view>